@charset "UTF-8";

/*----------------------
リセットのおまじない
----------------------*/
body,div,ul,li,h1,h2,h3{
    margin:0;
    padding:0;
}

ul{list-style:none;}
h1,h2,h3{font-size:100%;}@charset "UTF-8";

/*----------------------
html
----------------------*/
html{
    -webkit-text-size-adjust:100%;
}
/*----------------------
ボディー
----------------------*/
body{
    font-size:0.9rem;
    margin:0;
}

/*----------------------
ヘッダー
----------------------*/
#header{
    max-width:960px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    text-align: center;
    align-items: center;
}

.title-logo{
    width:120px;
    padding:10px 0;
    margin:0;
}

.title-logo img{
    max-width:100%;

}

#header ul{
    display:flex;
    max-height:100%;
    margin-left:auto;
    margin-right:30px;
    list-style:none;
}

#header li{
    margin-left: 20px;
}

#header a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

/*----------------------
初めの画像
----------------------*/
.mainImg img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom:30px;
}

/*----------------------
パネルヘッダー共通設定
----------------------*/
#panelHeader{
    text-align:center;
}

#panelHeader h2{
    display:inline-block;
    border-bottom: 1px solid;
}
/*----------------------
h2共通設定
----------------------*/
h2{
    font-size:1.8rem;
}

/*----------------------
h3共通設定
----------------------*/
h3{
    font-size:1rem;
}

/*----------------------
About設定
----------------------*/
#about .container{
    display:flex;
    margin:30px auto 30px auto;
    padding:0 4%;
    justify-content: center;
    align-items: center;
}

#about .content img{
    margin-right:30px;
    width:100px;
	height:100px;
	object-fit:cover;
	border-radius:50%;
    object-position:0px 0px;
}
#about .content h3{
    margin:10px 0;
}
#about .content p{
    max-width:400px;
}

/*----------------------
Cooking設定
----------------------*/
#cooking .container{
    max-width:100%;
    display:flex;
    margin:30px 10px;
    padding:0 10px;
}

#cooking .content{
    width : calc(100% / 3) ;
    height: auto;
    margin:0 10px;
    text-align:center
}
#cooking .content img{
    max-width:100%;
    height:auto;
    margin:0 auto;
}

/*----------------------
フッター設定
----------------------*/
#footer{
    text-align:center;
    font-size: 0.6rem;
}

/*----------------------
レスポンシブ設定（AboutとCookingのレイアウト変更）
----------------------*/

/* 〜479px：スマホ縦------- */
@media screen and (max-width:600px) {

    #about .container{
        display:block;
        max-width:400px;
    }
    #about .content:first-child{
        text-align: center;
    }
    #about .content img{
        margin-right:0;
    }
    #about .content h3{
        max-width:100%;
        margin-right:0;
        margin-left:0;
    }
    #about .content p{
        max-width:100%;
        margin-right:0;
        margin-left:0;
    }

    #cooking .container{
        display:block;
        margin:0;
        padding:0 4%;
    }
    #cooking .content{
        text-align:center;
        width:100%;
        margin:0;
    }
    #cooking .content img{
        max-width:100%;
    }
}
img{border:0;}

/*----------------------
ボディー
----------------------*/
body{
    -webkit-text-size-adjust:100%;
    font-weight:400;
}


/*----------------------
ヘッダー
----------------------*/
#header{
    display:flex;
    justify-content: space-between;
    margin: 30px auto 10px auto;
    padding: 0 7%;
    text-align: center;
}

#header:first-child{
    margin-right:auto;
    margin-left:40px;
}

#header ul{
    display:flex;
    height:100%;
    justify-content: center;
}

#header li{
    font-size:1.6rem;
    margin: auto 40px auto auto;
}

#header a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

/*----------------------
初めの画像
----------------------*/
.mainImg{
    width:90%;
    margin: 0 auto;
    text-align: center; 
}

.mainImg img{
	width: 100%;
	height: auto;
}

/*----------------------
パネルヘッダー共通設定
----------------------*/
#panelHeader{
    text-align:center;
    font-size:3rem;
}

#panelHeader h2{
    display:inline-block;
    border-bottom: 2px solid;
}


/*----------------------
pとh3共通設定
----------------------*/
h3{
    font-size:1.6rem;
}

p{
    font-size:1.2rem;
}


/*----------------------
About設定
----------------------*/
#about .container{
    width:800px;
    display:flex;
    margin:30px auto;
}

#about .content img{
    margin-left:auto;
    margin-right:10px;
    width:150px;
	height:150px;
	object-fit:cover;
	border-radius:50%;
    object-position:0px 0px;
}
#about .content h3{
    margin-right:auto;
    margin-left:10px;
}
#about .content p{
    margin-right:auto;
    margin-left:10px;
}

/*----------------------
Cooking設定
----------------------*/
#cooking .container{
    width:100%;
    display:flex;
    margin:30px 10px;
}


#cooking .content{
    width : calc(100% / 3) ;
    height: auto;
    margin:0 20px;
    text-align:center
}
#cooking .content img{
    width:100%;
    height:auto;
}

/*----------------------
フッター設定
----------------------*/
#footer{
    text-align:center;
}

/*----------------------
レスポンシブ設定

- 〜479px：スマートフォン縦
- 480px〜599px：スマートフォン横
- 600px〜959px：タブレット
- 960px〜1279px：小型PC
- 1280px〜：大型PC
----------------------*/

/* 〜479px：スマホ縦------- */
@media screen and (max-width:479px) {
    #header li{
      font-size:0.9rem;
    }
    h2{
      font-size: 1.8rem;
    }
    h3{
      font-size: 0.9rem;
    }
    p{
      font-size: 0.5rem;
    }
}

/* 480px〜599px：スマホ横------- */
@media screen and (min-width:480px) and (max-width:599px) {
    #header li{
      font-size:1rem;
    }
    h2{
      font-size: 2rem;
    }
    h3{
      font-size: 1rem;
    }
    p{
      font-size: 0.6rem;
    }
}

/* 600px〜959px：タブレット----- */
@media screen and (min-width:600px) and (max-width:959px) {
    #header li{
        font-size:1.2rem;
    }
    h2{
        font-size: 2.4rem;
    }
    h3{
        font-size: 1.2rem;
    }
    p{
        font-size: 0.8rem;
    }
}
    
/* 960px〜1279px：小型PC-------- */
@media screen and (min-width:960px) and (max-width:1279px) {
    #header li{
        font-size:1.4rem;
    }
    h2{
        font-size: 2.6rem;
    }
    h3{
        font-size: 1.4rem;
    }
    p{
        font-size: 1rem;
    }
}
    
/* 1280px〜：大型PC------------- */
@media screen and (min-width:1280px) {
    #header li{
        font-size:1.6rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 1.6rem;
    }
    p{
        font-size: 1.2rem;
    }
}
